.autocomplete-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: scroll;
  margin-top: -1.5rem;
  max-height: 16rem;
  width: 100%;
}

.autocomplete-list.hide {
  display: none;
}

.autocomplete-list--item {
  background-color: white;
  color: black;
  padding: 1rem;
  cursor: pointer;
}

.autocomplete-list--item:hover {
  background-color: lightgray;
}
