---
import { DisplayTrams } from '../components/DisplayTrams';
import Layout from '../layouts/Layout.astro';

export const prerender = true;

const requestURL = new URL(Astro.request.url);
const departingFrom =requestURL.searchParams.get('departingFrom')?.toLowerCase() || '';
const arrivingTo = requestURL.searchParams.get('arrivingTo')?.toLowerCase() || '';

---
<Layout title="Metrolink tram times">
	<main class="container">
    <DisplayTrams departureStation={departingFrom} arrivalStation={arrivingTo} client:load />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
