---
import { DisplayTrams } from '../components/DisplayTrams';
import Layout from '../layouts/Layout.astro';

const departingFrom = Astro.url.searchParams.get('departingFrom') || '';

---
<Layout title="Metrolink tram times">
  <main class="container">
    <DisplayTrams departureStation={departingFrom} client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
